/* -----------------------------------------------------------
// Milliard ( 設置型 コンテンツ)
------------------------------------------------------------*/

footer .ssArticlesContainer{
	max-height: 100px;
}

footer .ssArticleContent{
	font-size:14px;
	padding: 7px 10px !important;
	margin:0px !important;
}

footer .img .ssArticleContent{
	padding: 0px !important;
	margin: 1px !important;
}

footer .ssArticle:nth-child(1n+9){
	display:none !important;
}

footer .ssArticleTitleContainer{
	z-index: 10 !important;
}

.hatena-iframe-container{
	z-index: 11 !important;
}

footer .ssArticlesFooterContainer{
	float: none !important;
}

/* -----------------------------------------------------------
// その他
------------------------------------------------------------*/

img{
	max-width: 560px;
}

.rssd{
	text-align: center;
	padding:3px !important;
	border-radius: 5px;
	margin:5px 0%; /* width / 2 */
}

.rssd:nth-child(1){
	background-color: #E67928;
}

.rssd:nth-child(2){
	background-color: #6cc655;
}

.rssd:nth-child(3){
	background-color: #aaa;
}

.rssa{
	display: inline-block;
	color:#fff !important;
	width: 100%;
	height:100%;

}


/* h4 */
h4:before{
	content: "　";
	display: inline-block;
	vertical-align: middle;
	margin: 0px 10px 3px 0px;
	background-color: #666;
	width: 10px;
	height: 10px;
}

div.tagf{
	border:solid 1px #666;
	padding:3px 5px;
}

div.hatena-asin-detail-foot{
	display: none;
}

iframe.embed-card{
	max-width: none !important;
}

embed,iframe{
	display: inherit;
	margin: 20px auto !important;
}

.recent-comments span.user-id{
	display: block;
}

.p7-b {
	margin-top: -30px !important;
}

.p7-b>a>span,.p7-b>.p7-left span {
	font-size: 11px !important;
}

/* -----------------------------------------------------------
// Twitter
------------------------------------------------------------*/

iframe.twitter-tweet{
	margin: 10px auto;
}

cite.hatena-citation{
	display: none;
}

/* -----------------------------------------------------------
// box
------------------------------------------------------------*/

div.box{
	border:1px solid #ccc;
	padding: 3px 5px;
}

div.box > p > span.box,div.box > span.box{
	text-decoration: none !important;
	font-weight: bold;
	background: #777;
	margin: 0px -6px !important;
	color: #fff;
	padding: 0px 15px;
	display: inline-block;
}

.entry-footer .social-buttons {
    margin: 10px auto;
    display: inherit;
    text-align: center;
}

span.social-buttons{
	display: inline-block;
	text-align: center;
	width: 100%;
}

.social-buttons div.social_b{
	display: inline-block;
      width: 120px;
      padding: 5px 2px;
      text-align: center;
      vertical-align:middle;
      border:1px solid #666;
      margin:3px;
      cursor: pointer;
      font-size:13px;
      min-height: 60px;
}

.social-buttons p{
	margin: 0px;
	margin-top:8px;
	font-size: 13px !important;
}

.social-buttons iframe{
	display: inline-block;
	margin:auto !important;
}

.social-buttons div:hover{
	background: #ddd;
}

.social-buttons div a {
	font-size:18px;
}

i.fa{
	margin:3px;
}

.hatena-star-star-container{
	display: inline-block;
	width: 100%;
	margin: 5px 0px;
	text-align: left;
}

/* -----------------------------------------------------------
// Instagram
------------------------------------------------------------*/

a[href*="instagram.com"]:not(.http-image) {
	display:block !important;
	color:#f3f3f3;
	padding:3px 10px;
	margin-top:-53px;
}

a[href*="instagram.com"]:not(.http-image)::before {
	content: ">> ";
}

a[href*="instagram.com"]:not(.http-image):hover {
	background:rgba(0, 0, 0, 0.5);
}
